<form [formGroup]="saldoForm" (ngSubmit)="exibirSaldo()">
  <div class="form-floating mb-3">
    <select class="form-select" id="moeda" formControlName="moeda" aria-label="Floating label select example">
      <option [value]="'Euro'">Euro</option>
      <option [value]="'Dolar'">Dolar</option>
      <option [value]="'Libra'">Libra</option>
    </select>

    <label for="moeda">MOEDA</label>

    <div *ngIf="moeda.invalid && (moeda.dirty || moeda.touched)" class="form-text text-danger">
      <div *ngIf="moeda.errors?.['required']">
        Campo obrigatório.
      </div>
    </div>
  </div>

  <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" [disabled]="saldoForm.invalid">Ver saldo</button>
</form>
