<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <h2 class="mb-5 text-center">Sobre nós</h2>

  <p class="fs-5">A CambioJá!, pode até ser pequena, mas tamanho não é e nunca foi documento – especialmente no
    mercado de câmbio monetário. Nós acreditamos que é possível oferecer um serviço de alta qualidade sem custo algum, e
    é por isso que nos esforçamos tanto para tornar isso possível aqui na nossa loja.</p>

  <p class="fs-5 mb-5">Se você está atrás de uma experiência inovadora, então veio ao lugar certo. Venha descobrir uma nova
    maneira de comprar!</p>

  <app-nosso-time></app-nosso-time>
</div>

<div class="container">
  <app-footer></app-footer>
</div>
