<div class="row text-center">
  <h1 class="mb-5">Nosso time</h1>

  <div class="col-lg-4">
    <img src="../../../assets/images/Pedro.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"
      alt="..." title="Pedro Zago">

    <h2>Pedro Zago</h2>
    <p>Engenheiro de Software Trainee - Back-End e Front-End</p>
  </div>
  <div class="col-lg-4">
    <img src="../../../assets/images/Pedro.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"
      alt="..." title="Pedro Zago">

    <h2>Heading</h2>
    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
  </div>
  <div class="col-lg-4">
    <img src="../../../assets/images/Pedro.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140"
      alt="..." title="Pedro Zago">

    <h2>Heading</h2>
    <p>And lastly this, the third column of representative placeholder content.</p>
  </div>
</div>
