<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a [routerLink]="['/home']" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <span class="fs-4">CambioJá!</span>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a [routerLink]="['/home']" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a [routerLink]="['/cambio']" class="nav-link px-2 link-dark">Cambio</a></li>
    <li><a [routerLink]="['/sobre']" class="nav-link px-2 link-dark">Sobre nós</a></li>
    <li><a [routerLink]="['/contato']" class="nav-link px-2 link-dark">Contato</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <a [routerLink]="['/perfil']" class="btn btn-outline-primary me-2">Perfil</a>
    <a [routerLink]="['/sair']" class="btn btn-primary">Sair</a>
    <a [routerLink]="['/signin']" class="btn btn-outline-primary me-2">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Cadastro</a>
  </div>
</header>
